@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans';
}

.heading {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 45%;
    background: grey;
    top: 0;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    background-image: url('https://i.pinimg.com/originals/90/ff/6f/90ff6fe1fa93ee8abb993fbcdf80b7a8.gif');
    background-size: cover;
    text-shadow: 0px 0px 35px white;
}

.placeholder {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 45%;
    background: grey;
    font-family: 'Open Sans';
    top: 0;
    flex-direction: column;
    justify-content: center;
}

h3 {
    margin: 0;
    font-weight: 500;
    font-style: italic;
}

#featured-title {
    margin: 0;
    font-size: 36px;
}

main {
    display: flex;
}

#featured-img {
    width: 60%;
    margin: 10px;
    aspect-ratio: 1 / 1;
}

#featured {
    width: 50%;
}


.back-btn {
    position:fixed;
    z-index: 1;
    top: 10px;
    left: 20px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;;
    color: white;
}

.back-btn:hover {
    background-color: black;
}

.song {
    display: flex;
    align-items: center;
    margin: 10px;
}

.song img {
    width: 10%;
    margin: 10px;
}

.song-details {
    width: 50%;
}
.song-title{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
}
.song-artist{
    margin: 0;
    padding: 0;
    font-size: 15px;
    opacity: 75%;
}
.song-album{
    margin: 0;
    padding: 0;
    width: 45%;
}
.song-duration{
    margin: 0;
    padding: 0;
    width: 5%;
}